/example/build
/example/.dart_tool/package_config_subset
/example/.dart_tool/package_config.json
/example/.dart_tool/version
/example/ios/.symlinks/plugins/flutter_esim_pro
/example/ios/.symlinks/plugins/integration_test